form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 15%;
  background-color: aqua;
  width: 200px;
  padding: 20px;
  border-radius: 10px;
}
button{
  margin: 15px;
}
header{
  padding: 10px;
  background-color: rgb(87, 63, 63);
  height: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
nav{
  background-color: rgb(87, 126, 87);
  padding: 16px 32px;
  color: aliceblue ;
  font-weight: bold;
}
nav a{
  margin-right: 16px;
}
.Home{
  display: flex;
  align-items: center;
  justify-content: center;
}
